

@media (max-width: 768px ) {

	.player-container {
        text-align: center;
    }

    .main {
        padding: 30px;
        height: 100%;
    }

    .player {
        margin-left: 0px;
        margin-bottom: 10px;
        height: 90px;
        text-align: center;
    }

    .progressbar {
        height: 20px;
        width: 100%;
        padding: 5px 0px;
    }

    .tracker {
        margin: 0px;
    }

}


@media screen and ( min-width: 769px) {

    .playlist li:hover {
        padding-left: 10px;
    }

    .icon-row {
    	display: block;
    	float: right;
    	position: relative;
    	left: -50%;
    	text-align: left;
    	margin-top: 20px;
    }

    .social-icons {
    	list-style: none;
    	position: relative;
    	left: 50%;
    }

    .social-icons img {
    	height: 24px;
    	width: auto;
    }

    .social-icons > li {
    	float: left;
    	position: relative;
    	opacity: 0.7;
    	cursor: pointer;
    	transition: all 0.3s ease;
    }
    .social-icons > li:hover {
    	opacity: 1;
    }

    .social-icons a {
    	margin: 0px 20px;
    }

}