* {
    -webkit-font-smoothing: antialiased;
}

html{
    height: 100%;
}

body{
    text-rendering:optimizeLegibility;
    height:100%;
    margin:0px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    position: static;
    overflow: hidden;
}

.bg {
    padding: 30px;
    height: 100vh;
    background-color: #34314c;
}

.main {
    background: white;
    height: 100%;
    padding: 30px;
}



/* PLAYER */

.player-container {
    height: 100%;
}

.player {
    margin-left: 20px;
}

.desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: rgba(52, 49, 76, 0.8);
    text-align: center;
}

.icon-row {
    display: block;
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
    margin-top: 20px;
}

.social-icons {
    list-style: none;
    position: relative;
    left: 50%;
}

.social-icons img {
    height: 24px;
    width: auto;
}

.social-icons > li {
    float: left;
    position: relative;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s ease;
}
.social-icons > li:hover {
    opacity: 1;
}

.social-icons a {
    margin: 0px 20px;
}


.player .title {
    color: rgba(52, 49, 76, 0.9);
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    margin-top: 100px;
}

.player .artist {
    font-size: 36px;
    font-weight: 400;
    color: rgba(52, 49, 76, 0.9);
    margin-top: 20px;
}

.player .album {
    font-size: 24px;
    font-weight: 400;
    color: rgba(52, 49, 76, 0.6);
    margin-top: 10px;
}

.player .year {
    font-size: 24px;
    font-weight: 400;
    color: rgba(52, 49, 76, 0.6);
    margin-top: 5px;
}

.controls {
    padding: 10px 0px;
    margin-top: 50px;
    text-align: center;
}

.play {
    display: inline-block;
    height: 30px;
    margin: 0px 20px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease;
}
.play:hover {
    opacity: 1;
}

.controls .pause {
    display: none;
}

.pause {
    display: inline-block;
    height: 30px;
    margin: 0px 20px;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.5s ease;
}
.pause:hover {
    opacity: 1;
}

.rew {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    opacity: 0.6;
    transition: all 0.5s ease;
}
.rew:hover {
    opacity: 0.9;
}

.fwd {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    margin-right: 40px;
    opacity: 0.6;
    transition: all 0.5s ease;
}
.fwd:hover {
    opacity: 0.9;
}



.hidden {
    display: none;
}

.controls .visible {
    display: inline-block;
}

.tracker-container {
    height: 80px;
    width: 100%;
    padding: 20px 0px;
    display: inline-block;
}

.tracker {
    display: inline-block;
    background-color: rgba(52,49,76,0.1);
    height: 6px;
    width: 100%;
    vertical-align: middle;
    margin-left: 20px;
    border-radius: 3px;
    overflow: hidden;
    margin: 22px 0px;
    cursor: pointer;
}

.ui-slider-range {
    background-color: rgba(255,116,115,0.8);
    height: 100%;
}

.ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    width: 10px;
    z-index: 2;
}



/* PLAYLIST */


.menu {
    visibility: hidden;
}

.playlist-container {
    height: 90vh;
}

.playlist {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.8);
    border-left: solid 1px rgba(52, 49, 76, 0.8);
    height: 90%;
    padding: 0px 10px;
    margin: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.playlist li {
    cursor: pointer;
    margin-left: 15px;
    margin-bottom: 20px;
    transition: all 0.4s ease;
}


.playlist li.active {

    padding-bottom: 5px;
    border-bottom: solid #ff7473 3px;
    
}


.playlist li:first-child {
    margin-top: 0px;
}



.playlist .week {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: rgba(255, 116, 115, 0.5);
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 15px;
}
.playlist .week:hover {
    padding-left: 0px;
    cursor: default;
}

.playlist .week:not(:first-child) {
    border-top: solid 1px rgba(52,49,76,0.2);
    padding-top: 20px;
}

.playlist-title {
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-weight: 700;
    margin-top: 2px;
}

.playlist-artist {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}

.playlist li:hover {
    padding-left: 10px;
}


/* Media Queries */


@media (max-width: 768px) {

.bg {
    padding: 15px;
}

.player {
    margin-left: 0px;
    text-align: center;
}

.desc {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-align: center;
}

.icon-row {
    display: none;
}

.player .title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

.player .artist {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.player .album {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.player .year {
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.controls {
    padding: 30px 0px;
    vertical-align: middle;
    height: 30%;
    text-align: center;
}

.controls img {
    width: 100%;
}

.fwd {
    margin-right: 0px;
}

.menu {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    color: rgba(52,49,76,0.7);
    padding: 10px 20px;
    border: solid rgba(52,49,76,0.7) 2px;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 50px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    z-index: 10;
    visibility: visible;
    cursor: pointer;
    transition: all 0.5s ease;
}  
.menu:hover {
    background-color: rgba(52,49,76,0.7);
    color: #fff;
}

.mobile-overlay {
    visibility: hidden;
    z-index: 5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, .98);
}

.playlist {
    border-left: none;
    padding-bottom: 150px;
}

.playlist-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.show {
    visibility: visible;
}

}
